<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
	
	<head th:replace="fragments/head_tag :: head_tag"></head>
	
	
	<body><!-- Available classes for body: boxed , pattern1...pattern10 . Background Image - example add: data-background="assets/images/boxed_background/1.jpg"  -->

		<!-- Top Bar -->
		<header id="topHead" th:replace="fragments/header-top-bar :: header-top-bar"></header>
		<!-- /Top Bar -->

		<!-- TOP NAV -->
		<header id="topNav" class="topHead" th:replace="fragments/header-top-nav :: header-top-nav"><!-- remove class="topHead" if no topHead used! --></header>

		<span id="header_shadow"></span>
		<!-- /TOP NAV -->


		<!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
		<div id="switcher" th:replace="fragments/switchers/style_switcher :: style_switcher"></div>

		<div id="showSwitcher" class="styleSecondColor" th:replace="fragments/switchers/style_switcher :: show_switcher"><i class="fa fa-angle-double-right"></i></div>
		<!-- /STYLESWITCHER -->



		<!-- WRAPPER -->
		<div id="wrapper">

			<div id="show">

				<!-- PAGE TITLE -->
				<header id="page-title">
					<div class="container">
						<h1><strong>Navigation</strong></h1>

						<ul class="breadcrumb">
						<li><a href="/index1">Database Management</a></li>
						<li><a href="/customer/list">Customers</a></li>
						<li><a href="/user/list">Users</a></li>						
						<li><a href="/product/list">Products</a></li>
						<li class="active">Show Product</li>
						</ul>
					</div>
				</header>

				<section class="container">

					<div class="row">

					<!-- Show Product -->
					<div class="col-md-7">

                      <div class="row">
						<form class="white-row">
							<h3>
								<strong>Product Details</strong>
							</h3>
							<div class="form-group">
								<label class="col-md-3 control-label">Product Id:</label>
								<div class="col-md-6">
									<p class="form-control-static" th:text="${product.id}">Product
										Id</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Description:</label>
								<div class="col-md-6">
									<p class="form-control-static" th:text="${product.description}">Description</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Price:</label>
								<div class="col-md-6">
									<p class="form-control-static" th:text="${product.price}">Price</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 sm-2 control-label">Image URL:</label>
								<div class="col-md-6">
									<p class="form-control-static" th:text="${product.imageUrl}">Image</p>
								</div>
							</div>
						</form>
						</div>

					</div>
					<!-- /Show Product -->

					<aside class="white-row col-md-4 col-md-push-1">

						<h3>SEARCH THE WEBSITE!</h3>
						<div class="row">
							<div class="col-md-12">
								<form method="get" action="#" class="input-group">
									<input type="text" class="form-control" name="s" id="s"
										value="" placeholder="search..."></input> <span
										class="input-group-btn">
										<button class="btn btn-primary">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</form>
							</div>
						</div>

						<h4>USEFUL LINKS</h4>
						<ul class="nav nav-list">
							<li><a href="/index1"><i class="fa fa-circle-o"></i> Database Management</a></li>
							<li><a href="/customer/list"><i class="fa fa-circle-o"></i>	Customers</a></li>
							<li><a href="/user/list"><i class="fa fa-circle-o"></i>	Users</a></li>
							<li><a href="/product/list"><i class="fa fa-circle-o"></i> Products</a></li>
						</ul>

					</aside>



				</div>


				<div class="row">

					<p class="white-row col-md-12">
						Don't have an account yet? <a href="/page-signup">Click to
							create one</a>, it's free!
					</p>
				</div>

			</section>

			</div>
		</div>
		<!-- /WRAPPER -->



	<!-- FOOTER -->
	<footer th:replace="fragments/footer :: footer"></footer>
	<!-- /FOOTER -->



	<!-- JAVASCRIPT FILES -->
	<div th:replace="fragments/javascripts_srcs :: javascripts_srcs"></div>



</body>
</html>