<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	
<html lang="en" xmlns:th="http://www.thymleaf.org" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:sec3="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->

	<head th:replace="fragments/head_tag :: head_tag"></head>
	<body><!-- Available classes for body: boxed , pattern1...pattern10 . Background Image - example add: data-background="assets/images/boxed_background/1.jpg"  -->

		<!-- Top Bar -->
		<header id="topHead" th:replace="fragments/header-top-bar :: header-top-bar"></header>
		<!-- /Top Bar -->

		<!-- TOP NAV -->
		<header id="topNav" class="topHead" th:replace="fragments/header-top-nav :: header-top-nav"><!-- remove class="topHead" if no topHead used! --></header>

		<span id="header_shadow"></span>
		<!-- /TOP NAV -->



		<!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
		<div id="switcher" th:replace="fragments/switchers/style_switcher :: style_switcher"></div>

		<div id="showSwitcher" class="styleSecondColor" th:replace="fragments/switchers/style_switcher :: show_switcher"><i class="fa fa-angle-double-right"></i></div>
		<!-- /STYLESWITCHER -->



		<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<header id="page-title"> <!-- style="background-image:url('../assets/images/demo/parallax_bg.jpg')" -->
				<!--
					Enable only if bright background image used
					<span class="overlay"></span>
				-->

				<div class="container">
					<h1><strong>ANASBANUN.COM</strong> <small>Custom Global Exceptions Handling</small></h1>

					<ul class="breadcrumb">
						<li><a href="http://www.anasbanun.com">Home</a></li>
						<li class="active">Message:</li>
					</ul>
				</div>
			</header>

			<section class="container">

				<div class="row">

					<div class="col-md-9">
						<h2>
							<strong>Oops</strong>, There is an error!
							<span class="subtitle"></span>
						</h2>
						
						
						
		
		<h2>Details:</h2>
		
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr class="success">
					<th><i class="glyphicon glyphicon-send"></i> Key</th>
					<th><i class="glyphicon glyphicon-send"></i> Value</th> 
				</tr>
			</thead>
			<tbody>
				<tr class="warning">
					<td><span class="label label-warning">TimeStamp </span></td>
					<td th:text="${#calendars.format(timestamp, 'dd/MM/yyyy hh:mm:ss a')}"></td>
					
				</tr>
				<tr class="danger">
					<td><span class="label label-danger">Status </span></td>
					<td th:text="${status}"></td>
				</tr>
				<tr class="danger">
					<td><span class="label label-danger">Error </span></td>
					<td th:text="${error}"></td>
				</tr>
				<tr class="info">
					<td><span class="label label-info">Message </span></td>
					<td th:text="${message}"></td>
				</tr>
				<tr class="success">
					<td><span class="label label-success">Path </span></td>
					<td th:text="${path}"></td>
				</tr>																
			</tbody>
		</table>
	</div>
						<br></br>
						<div class="global">Global Handler</div>
						<br></br>
					</div>

					<aside class="col-md-3">

						<h3>SEARCH THE WEBSITE!</h3>
						<div class="row">
							<div class="col-md-12">
								<form method="get" action="#" class="input-group">
									<input type="text" class="form-control" name="s" id="s" value="" placeholder="search..." ></input>
									<span class="input-group-btn">
										<button class="btn btn-primary"><i class="fa fa-search"></i></button>
									</span>
								</form>
							</div>
						</div>

						<h4>USEFUL LINKS</h4>
						<ul class="nav nav-list">
							<li><a href="/"><i class="fa fa-circle-o"></i> Home</a></li>
							<li><a href="page-about-us"><i class="fa fa-circle-o"></i> About Us</a></li>
							<li><a href="contact-us"><i class="fa fa-circle-o"></i> Contact</a></li>
						</ul>



					</aside>

				</div>


			</section>

		</div>
		<!-- /WRAPPER -->



		<!-- FOOTER -->
		<footer th:replace="fragments/footer :: footer"></footer>
		<!-- /FOOTER -->



		<!-- JAVASCRIPT FILES -->
		<div th:replace="fragments/javascripts_srcs :: javascripts_srcs"></div>
	</body>
</html>