<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
	
	<head th:replace="fragments/head_tag :: head_tag"></head>
	
	
	<body><!-- Available classes for body: boxed , pattern1...pattern10 . Background Image - example add: data-background="assets/images/boxed_background/1.jpg"  -->

		<!-- Top Bar -->
		<header id="topHead" th:replace="fragments/header-top-bar :: header-top-bar"></header>
		<!-- /Top Bar -->

		<!-- TOP NAV -->
		<header id="topNav" class="topHead" th:replace="fragments/header-top-nav :: header-top-nav"><!-- remove class="topHead" if no topHead used! --></header>

		<span id="header_shadow"></span>
		<!-- /TOP NAV -->


		<!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
		<div id="switcher" th:replace="fragments/switchers/style_switcher :: style_switcher"></div>

		<div id="showSwitcher" class="styleSecondColor" th:replace="fragments/switchers/style_switcher :: show_switcher"><i class="fa fa-angle-double-right"></i></div>
		<!-- /STYLESWITCHER -->


	<!-- WRAPPER -->
	<div id="wrapper">

		<div id="shop">

			<!-- PAGE TITLE -->
			<header id="page-title">
				<div class="container">
					<h1><strong>Navigation</strong></h1>

					<ul class="breadcrumb">
						<li><a href="/index1">Database Management</a></li>
						<li><a href="/product/list">Products</a></li>
						<li><a href="/customer/list">Customers</a></li>
						<li class="active">Users List</li>
					</ul>
				</div>
			</header>


			<section class="container">

				<div class="row">

					<!-- List Users -->
					<div class="container white-row col-md-8">

						<h3>
							 <strong>Users List</strong>
						</h3>



						<div th:if="${not #lists.isEmpty(users)}">
							<!-- <h2>User List</h2> -->
							<table class="table table-striped">
								<tr>
									<th>Id</th>
									<th>User Name</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>List</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
								<tr th:each="user : ${users}">
									<td th:text="${user.id}"></td>
									<td th:text="${user.username}"></td>
									<td th:text="${user.customer.firstName}"></td>
									<td th:text="${user.customer.lastName}"></td>
									<td><a th:href="${'/user/show/' + user.id}">View</a></td>
									<td><a th:href="${'/user/edit/' + user.id}">Edit</a></td>
									<td><a th:href="${'/user/delete/' + user.id}">Delete</a></td>
								</tr>
							</table>
						</div>
						
							<div class="col-sm-3 btn btn-default pull-right push-bottom">
								<a href="/user/new">New User</a>
							</div>
					
					</div>
					<!-- /List Users -->


					<aside class="white-row col-md-3 col-md-push-1">

						<h3>SEARCH THE WEBSITE!</h3>
						<div class="row">
							<div class="col-md-12">
								<form method="get" action="#" class="input-group">
									<input type="text" class="form-control" name="s" id="s"
										value="" placeholder="search..."></input> <span
										class="input-group-btn">
										<button class="btn btn-primary">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</form>
							</div>
						</div>

						<h4>USEFUL LINKS</h4>
						<ul class="nav nav-list">
							<li><a href="/index1"><i class="fa fa-circle-o"></i> Database Management</a></li>
							<li><a href="/product/list"><i class="fa fa-circle-o"></i> Products</a></li>
							<li><a href="/customer/list"><i class="fa fa-circle-o"></i>	Customers</a></li>
						</ul>

					</aside>


				</div>



			</section>

		</div>
	</div>
	<!-- /WRAPPER -->


	<!-- FOOTER -->
	<footer th:replace="fragments/footer :: footer"></footer>
	<!-- /FOOTER -->



	<!-- JAVASCRIPT FILES -->
	<div th:replace="fragments/javascripts_srcs :: javascripts_srcs"></div>



</body>
</html>