<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->


<!-- JAVASCRIPT FILES -->

    <div th:fragment="javascripts_srcs">

        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
     
		<script type="text/javascript" src="../static/assets/plugins/jquery-2.1.4.min.js" th:src="@{/assets/plugins/jquery-2.1.4.min.js}"></script>
		<script type="text/javascript" src="../static/assets/plugins/jquery.easing.1.3.js" th:src="@{/assets/plugins/jquery.easing.1.3.js}"></script>
		<script type="text/javascript" src="../static/assets/plugins/jquery.cookie.js" th:src="@{/assets/plugins/jquery.cookie.js}"></script>
		<script type="text/javascript" src="../static/assets/plugins/jquery.appear.js" th:src="@{/assets/plugins/jquery.appear.js}"></script>
		<script type="text/javascript" src="../static/assets/plugins/jquery.isotope.js" th:src="@{/assets/plugins/jquery.isotope.js}"></script>
		<script type="text/javascript" src="../static/assets/plugins/masonry.js" th:src="@{/assets/plugins/masonry.js}"></script>

		<script type="text/javascript" src="../static/assets/plugins/bootstrap/js/bootstrap.min.js" th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript" src="../static/assets/plugins/magnific-popup/jquery.magnific-popup.min.js" th:src="@{/assets/plugins/magnific-popup/jquery.magnific-popup.min.js}"></script>
		<script type="text/javascript" src="../static/assets/plugins/owl-carousel/owl.carousel.min.js" th:src="@{/assets/plugins/owl-carousel/owl.carousel.min.js}"></script>
		<script type="text/javascript" src="../static/assets/plugins/stellar/jquery.stellar.min.js" th:src="@{/assets/plugins/stellar/jquery.stellar.min.js}"></script>
		<script type="text/javascript" src="../static/assets/plugins/knob/js/jquery.knob.js" th:src="@{/assets/plugins/knob/js/jquery.knob.js}"></script>
		<script type="text/javascript" src="../static/assets/plugins/jquery.backstretch.min.js" th:src="@{/assets/plugins/jquery.backstretch.min.js}"></script>
		<script type="text/javascript" src="../static/assets/plugins/superslides/dist/jquery.superslides.min.js" th:src="@{/assets/plugins/superslides/dist/jquery.superslides.min.js}"></script>
		<script type="text/javascript" src="../static/assets/plugins/styleswitcher/styleswitcher.js" th:src="@{/assets/plugins/styleswitcher/styleswitcher.js}"></script><!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
		<script type="text/javascript" src="../static/assets/plugins/mediaelement/build/mediaelement-and-player.min.js" th:src="@{/assets/plugins/mediaelement/build/mediaelement-and-player.min.js}"></script>
		
		<script type="text/javascript" src="assets/plugins/holder.js"></script><!-- remove on production -->

		<!-- REVOLUTION SLIDER -->
		<script type="text/javascript" src="../static/assets/plugins/revolution-slider/js/jquery.themepunch.tools.min.js" th:src="@{/assets/plugins/revolution-slider/js/jquery.themepunch.tools.min.js}"></script>
		<script type="text/javascript" src="../static/assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js" th:src="@{/assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js}"></script>
		<script type="text/javascript" src="../static/assets/js/slider_revolution.js" th:src="@{/assets/js/slider_revolution.js}"></script>
		
		<!-- Summernote Editor -->
		<script type="text/javascript" src="assets/plugins/html_summernote/summernote.min.js"></script>

		
        <script type="text/javascript" src="../static/assets/js/scripts.js" th:src="@{/assets/js/scripts.js}"></script>
        

        
		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
		<!--<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-XXXXX-X', 'domainname.com');
			ga('send', 'pageview');
		</script>
		-->
		

	</div>

</html>