<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->




<!-- Dark Version --> 
<img src="../static/assets/images/logo_dark.png" th:src="@{/assets/images/logo_dark.png}" alt="" th:fragment="logo-switcher"></img>


<!-- Light Version --> 
<!-- <img src="../static/assets/images/logo.png" th:src="@{/assets/images/logo.png}" alt="" th:fragment="logo-switcher"></img> -->


</html>