<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->




<!-- Red Silde_run -->
<img src="assets/images/demo/revolution_slider/slider_run_red.png" alt="" th:fragment="slider_run-switcher"></img>

<!-- Blue Silde_run -->
<!-- <img src="assets/images/demo/revolution_slider/slider_run_blue.png" alt="" th:fragment="slider_run-switcher"></img> -->


</html>

